<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kdxs_btn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,116},{54,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,26}}</string>
                <key>sourceSize</key>
                <string>{54,26}</string>
            </dict>
            <key>kdxs_btn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{121,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,52}}</string>
                <key>sourceSize</key>
                <string>{121,52}</string>
            </dict>
            <key>kdxs_xsk_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{750,608}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,608}}</string>
                <key>sourceSize</key>
                <string>{750,608}</string>
            </dict>
            <key>kdxs_xsk_b_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{693,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{693,294}}</string>
                <key>sourceSize</key>
                <string>{693,294}</string>
            </dict>
            <key>kdxs_xsk_b_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,56},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>kdxs_xsk_b_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,2},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>kdxs_xsk_bx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{693,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{693,165}}</string>
                <key>sourceSize</key>
                <string>{693,165}</string>
            </dict>
            <key>kdxs_xsk_sml.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1075},{654,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{654,112}}</string>
                <key>sourceSize</key>
                <string>{654,112}</string>
            </dict>
            <key>kdxx_btn_gb.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,116},{74,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,76}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>building_create.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:beb2c72e809f8b318719ae9494fb0dc9$</string>
            <key>textureFileName</key>
            <string>building_create.pvr.ccz</string>
        </dict>
    </dict>
</plist>
