<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bby_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{750,608}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,608}}</string>
                <key>sourceSize</key>
                <string>{750,608}</string>
            </dict>
            <key>bby_btn_gb.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,48},{74,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,76}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>bby_btn_jdthd.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,143},{17,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,48}}</string>
                <key>sourceSize</key>
                <string>{17,48}</string>
            </dict>
            <key>bby_btn_jh.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,126},{33,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{33,15}}</string>
                <key>sourceSize</key>
                <string>{33,19}</string>
            </dict>
            <key>bby_btn_jz.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,547},{133,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,57}}</string>
                <key>sourceSize</key>
                <string>{133,57}</string>
            </dict>
            <key>bby_btn_ljjz.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,547},{133,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,57}}</string>
                <key>sourceSize</key>
                <string>{133,57}</string>
            </dict>
            <key>bby_btn_qs.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,899},{89,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,38}}</string>
                <key>sourceSize</key>
                <string>{89,38}</string>
            </dict>
            <key>bby_btn_zj.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,126},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,36}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>bby_jdtk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,25},{262,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,21}}</string>
                <key>sourceSize</key>
                <string>{262,21}</string>
            </dict>
            <key>bby_jdtk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{262,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,21}}</string>
                <key>sourceSize</key>
                <string>{262,21}</string>
            </dict>
            <key>bby_ltsr.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,939},{95,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{95,30}}</string>
                <key>sourceSize</key>
                <string>{95,34}</string>
            </dict>
            <key>bby_qbg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,48},{181,497}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{181,497}}</string>
                <key>sourceSize</key>
                <string>{183,501}</string>
            </dict>
            <key>bby_qbg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,612},{494,182}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{494,182}}</string>
                <key>sourceSize</key>
                <string>{496,186}</string>
            </dict>
            <key>bby_qbg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{494,285}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{494,285}}</string>
                <key>sourceSize</key>
                <string>{496,289}</string>
            </dict>
            <key>bby_txk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,899},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>bby_txk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,899},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>bby_txk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,796},{137,136}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{137,136}}</string>
                <key>sourceSize</key>
                <string>{141,140}</string>
            </dict>
            <key>bby_zsfx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,971},{89,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,27}}</string>
                <key>sourceSize</key>
                <string>{89,31}</string>
            </dict>
            <key>bby_zsfx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,899},{89,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,27}}</string>
                <key>sourceSize</key>
                <string>{89,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>building_create_army.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f915e9d14c79ce27d63a9e5dd6a8921$</string>
            <key>textureFileName</key>
            <string>building_create_army.pvr.ccz</string>
        </dict>
    </dict>
</plist>
