<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>home_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{1646,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1646,480}}</string>
                <key>sourceSize</key>
                <string>{1646,480}</string>
            </dict>
            <key>home_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{1646,367}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1646,367}}</string>
                <key>sourceSize</key>
                <string>{1646,367}</string>
            </dict>
            <key>home_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1646,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1646,480}}</string>
                <key>sourceSize</key>
                <string>{1646,480}</string>
            </dict>
            <key>main_pvp_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1335},{187,157}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{187,157}}</string>
                <key>sourceSize</key>
                <string>{211,203}</string>
            </dict>
            <key>main_shop_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1335},{170,145}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{170,145}}</string>
                <key>sourceSize</key>
                <string>{210,179}</string>
            </dict>
            <key>unlock_skillupgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1335},{164,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,187}}</string>
                <key>sourceSize</key>
                <string>{164,187}</string>
            </dict>
            <key>unlock_specialshop.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1335},{147,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,173}}</string>
                <key>sourceSize</key>
                <string>{147,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>home.pvr.ccz</string>
            <key>size</key>
            <string>{1650,1524}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56735ef31720da2b87d6b613978ca3f0$</string>
            <key>textureFileName</key>
            <string>home.pvr.ccz</string>
        </dict>
    </dict>
</plist>
