<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fight_djpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,392},{127,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,25}}</string>
                <key>sourceSize</key>
                <string>{127,25}</string>
            </dict>
            <key>fight_jx.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,392},{72,66}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{72,66}}</string>
                <key>sourceSize</key>
                <string>{76,66}</string>
            </dict>
            <key>fight_jxpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,423},{127,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,25}}</string>
                <key>sourceSize</key>
                <string>{127,25}</string>
            </dict>
            <key>fight_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,392},{76,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,66}}</string>
                <key>sourceSize</key>
                <string>{76,66}</string>
            </dict>
            <key>fight_sjdb.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{777,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{777,392}}</string>
                <key>sourceSize</key>
                <string>{777,392}</string>
            </dict>
            <key>fight_zb.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,392},{68,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{76,66}</string>
            </dict>
            <key>fight_zbpf.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,423},{127,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,25}}</string>
                <key>sourceSize</key>
                <string>{127,25}</string>
            </dict>
            <key>fight_zyxt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,437},{220,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{220,20}}</string>
                <key>sourceSize</key>
                <string>{220,24}</string>
            </dict>
            <key>fight_zyxt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,417},{220,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{220,20}}</string>
                <key>sourceSize</key>
                <string>{220,24}</string>
            </dict>
            <key>fight_zyxtd.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,392},{229,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{229,31}}</string>
                <key>sourceSize</key>
                <string>{229,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fightData.pvr.ccz</string>
            <key>size</key>
            <string>{777,458}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77069d4aad6170f537da09549e520c5a$</string>
            <key>textureFileName</key>
            <string>fightData.pvr.ccz</string>
        </dict>
    </dict>
</plist>
