<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wyHero.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1455,253}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{1455,253}}</string>
                <key>sourceSize</key>
                <string>{1465,255}</string>
            </dict>
            <key>yw_h_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,257},{144,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,89}}</string>
                <key>sourceSize</key>
                <string>{144,89}</string>
            </dict>
            <key>yw_h_r1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,938},{97,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,83}}</string>
                <key>sourceSize</key>
                <string>{97,83}</string>
            </dict>
            <key>yw_h_r1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,777},{123,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,110}}</string>
                <key>sourceSize</key>
                <string>{123,110}</string>
            </dict>
            <key>yw_h_r1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,651},{103,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,92}}</string>
                <key>sourceSize</key>
                <string>{103,92}</string>
            </dict>
            <key>yw_h_r1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,528},{114,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,81}}</string>
                <key>sourceSize</key>
                <string>{114,81}</string>
            </dict>
            <key>yw_h_r1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,348},{108,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,76}}</string>
                <key>sourceSize</key>
                <string>{108,76}</string>
            </dict>
            <key>yw_h_r1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,348},{111,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,89}}</string>
                <key>sourceSize</key>
                <string>{111,91}</string>
            </dict>
            <key>yw_h_r1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,749},{99,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,93}}</string>
                <key>sourceSize</key>
                <string>{99,93}</string>
            </dict>
            <key>yw_h_r1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,838},{82,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,90}}</string>
                <key>sourceSize</key>
                <string>{82,90}</string>
            </dict>
            <key>yw_h_r1009.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,528},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>yw_h_r1010.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,651},{129,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,138}}</string>
                <key>sourceSize</key>
                <string>{129,138}</string>
            </dict>
            <key>yw_h_r1011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,831},{114,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,170}}</string>
                <key>sourceSize</key>
                <string>{114,170}</string>
            </dict>
            <key>yw_h_r2001.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,257},{82,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,67}}</string>
                <key>sourceSize</key>
                <string>{82,67}</string>
            </dict>
            <key>yw_h_r2002.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,611},{70,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,61}}</string>
                <key>sourceSize</key>
                <string>{70,61}</string>
            </dict>
            <key>yw_h_r2003.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,439},{94,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,80}}</string>
                <key>sourceSize</key>
                <string>{94,80}</string>
            </dict>
            <key>yw_h_r2004.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,257},{91,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,72}}</string>
                <key>sourceSize</key>
                <string>{91,72}</string>
            </dict>
            <key>yw_h_r2005.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,889},{102,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,93}}</string>
                <key>sourceSize</key>
                <string>{102,93}</string>
            </dict>
            <key>yw_h_r2006.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,745},{90,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,91}}</string>
                <key>sourceSize</key>
                <string>{90,91}</string>
            </dict>
            <key>yw_h_r2007.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,331},{83,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,67}}</string>
                <key>sourceSize</key>
                <string>{83,67}</string>
            </dict>
            <key>yw_h_r2008.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,831},{159,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,144}}</string>
                <key>sourceSize</key>
                <string>{159,144}</string>
            </dict>
            <key>yw_h_r2009.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,938},{96,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,82}}</string>
                <key>sourceSize</key>
                <string>{96,82}</string>
            </dict>
            <key>yw_h_r2010.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,788},{135,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,124}}</string>
                <key>sourceSize</key>
                <string>{135,124}</string>
            </dict>
            <key>yw_h_r3001.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,914},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>yw_h_r3002.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,651},{152,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,135}}</string>
                <key>sourceSize</key>
                <string>{152,135}</string>
            </dict>
            <key>yw_h_r3003.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,651},{116,124}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,124}}</string>
                <key>sourceSize</key>
                <string>{118,124}</string>
            </dict>
            <key>yw_h_r3004.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,439},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>yw_h_r3005.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,844},{102,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,92}}</string>
                <key>sourceSize</key>
                <string>{102,92}</string>
            </dict>
            <key>yw_h_r3006.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,914},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>yw_h_r3007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,651},{125,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,178}}</string>
                <key>sourceSize</key>
                <string>{125,178}</string>
            </dict>
            <key>yw_h_r4001.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,426},{82,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,69}}</string>
                <key>sourceSize</key>
                <string>{82,69}</string>
            </dict>
            <key>yw_h_r4002.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,674},{41,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,52}}</string>
                <key>sourceSize</key>
                <string>{41,52}</string>
            </dict>
            <key>yw_h_r4003.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,737},{53,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,56}}</string>
                <key>sourceSize</key>
                <string>{53,56}</string>
            </dict>
            <key>yw_h_r4004.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,651},{53,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,96}}</string>
                <key>sourceSize</key>
                <string>{53,96}</string>
            </dict>
            <key>yw_h_r4005.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,674},{41,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,61}}</string>
                <key>sourceSize</key>
                <string>{41,61}</string>
            </dict>
            <key>yw_h_r4006.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,977},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>yw_h_r4007.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,611},{37,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,48}}</string>
                <key>sourceSize</key>
                <string>{37,48}</string>
            </dict>
            <key>yw_h_r4008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{594,392}}</string>
                <key>offset</key>
                <string>{-40,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,250},{594,392}}</string>
                <key>sourceSize</key>
                <string>{1200,900}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worldHero.pvr.ccz</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e8255ea1905b5f23dadab57cf91f60a$</string>
            <key>textureFileName</key>
            <string>worldHero.pvr.ccz</string>
        </dict>
    </dict>
</plist>
