<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fight_btn_fh.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,174},{70,75}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{70,75}}</string>
                <key>sourceSize</key>
                <string>{88,77}</string>
            </dict>
            <key>fight_btn_sj.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,379},{70,77}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{70,77}}</string>
                <key>sourceSize</key>
                <string>{88,77}</string>
            </dict>
            <key>fight_btn_xyg.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,300},{70,77}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{70,77}}</string>
                <key>sourceSize</key>
                <string>{88,77}</string>
            </dict>
            <key>fight_btn_zc.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,379},{70,77}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{70,77}}</string>
                <key>sourceSize</key>
                <string>{88,77}</string>
            </dict>
            <key>fight_lose_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,174},{182,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{182,62}}</string>
                <key>sourceSize</key>
                <string>{182,64}</string>
            </dict>
            <key>fight_tj_btn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,291},{107,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,38}}</string>
                <key>sourceSize</key>
                <string>{107,38}</string>
            </dict>
            <key>fight_tj_btn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,251},{107,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,38}}</string>
                <key>sourceSize</key>
                <string>{107,38}</string>
            </dict>
            <key>fight_tj_btn_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,458},{107,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,38}}</string>
                <key>sourceSize</key>
                <string>{107,38}</string>
            </dict>
            <key>fight_tj_ht_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{930,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{930,84}}</string>
                <key>sourceSize</key>
                <string>{932,88}</string>
            </dict>
            <key>fight_tj_ht_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,467},{689,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{689,38}}</string>
                <key>sourceSize</key>
                <string>{689,38}</string>
            </dict>
            <key>fight_tj_ht_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{930,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{930,84}}</string>
                <key>sourceSize</key>
                <string>{932,88}</string>
            </dict>
            <key>fight_tj_txk.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,331},{61,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,64}}</string>
                <key>sourceSize</key>
                <string>{61,64}</string>
            </dict>
            <key>fight_tj_yxk.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,331},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>fight_tjl_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{691,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{691,291}}</string>
                <key>sourceSize</key>
                <string>{691,291}</string>
            </dict>
            <key>fight_tjl_xhx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,507},{308,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,1}}</string>
                <key>sourceSize</key>
                <string>{308,1}</string>
            </dict>
            <key>fight_tjt_fyicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,397},{57,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,63}}</string>
                <key>sourceSize</key>
                <string>{57,63}</string>
            </dict>
            <key>fight_tjt_jgicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,400},{66,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,58}}</string>
                <key>sourceSize</key>
                <string>{66,58}</string>
            </dict>
            <key>fight_tjt_zyicon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,38},{27,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,31}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>fight_tjt_zyicon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,462},{38,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,24}}</string>
                <key>sourceSize</key>
                <string>{38,24}</string>
            </dict>
            <key>fight_tjt_zyicon_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,2},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,34}</string>
            </dict>
            <key>fight_tjt_zyicon_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,71},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>fight_win_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,238},{136,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{136,60}}</string>
                <key>sourceSize</key>
                <string>{138,62}</string>
            </dict>
            <key>fight_zyk.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,460},{100,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,31}}</string>
                <key>sourceSize</key>
                <string>{100,31}</string>
            </dict>
            <key>yw_xq.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,300},{70,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,77}}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fightResult.pvr.ccz</string>
            <key>size</key>
            <string>{982,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b696037921a5d40af1ae87e31360cd83$</string>
            <key>textureFileName</key>
            <string>fightResult.pvr.ccz</string>
        </dict>
    </dict>
</plist>
