<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_add1d.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,440},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>btn_add1u.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,346},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>btn_blue1d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{137,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,50}}</string>
                <key>sourceSize</key>
                <string>{137,50}</string>
            </dict>
            <key>btn_blue1n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{137,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,50}}</string>
                <key>sourceSize</key>
                <string>{137,50}</string>
            </dict>
            <key>btn_blue1u.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{137,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,50}}</string>
                <key>sourceSize</key>
                <string>{137,50}</string>
            </dict>
            <key>btn_blue2d.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,104},{118,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,50}}</string>
                <key>sourceSize</key>
                <string>{118,50}</string>
            </dict>
            <key>btn_blue2n.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,48},{118,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,50}}</string>
                <key>sourceSize</key>
                <string>{118,50}</string>
            </dict>
            <key>btn_blue2u.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,10},{118,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,50}}</string>
                <key>sourceSize</key>
                <string>{118,50}</string>
            </dict>
            <key>btn_blue3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,334},{108,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,40}}</string>
                <key>sourceSize</key>
                <string>{108,40}</string>
            </dict>
            <key>btn_blue3n.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,224},{108,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,40}}</string>
                <key>sourceSize</key>
                <string>{108,40}</string>
            </dict>
            <key>btn_blue3u.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{108,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,40}}</string>
                <key>sourceSize</key>
                <string>{108,40}</string>
            </dict>
            <key>btn_blue4d.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,104},{50,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,76}}</string>
                <key>sourceSize</key>
                <string>{50,76}</string>
            </dict>
            <key>btn_blue4u.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,104},{50,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,76}}</string>
                <key>sourceSize</key>
                <string>{50,76}</string>
            </dict>
            <key>btn_blue5d.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,343},{78,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,40}}</string>
                <key>sourceSize</key>
                <string>{78,40}</string>
            </dict>
            <key>btn_blue5n.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,44},{78,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,40}}</string>
                <key>sourceSize</key>
                <string>{78,40}</string>
            </dict>
            <key>btn_blue5u.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{78,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,40}}</string>
                <key>sourceSize</key>
                <string>{78,40}</string>
            </dict>
            <key>btn_blue6d.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,264},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_blue6u.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,182},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_blue7d.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,446},{64,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,36}}</string>
                <key>sourceSize</key>
                <string>{64,36}</string>
            </dict>
            <key>btn_blue7u.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,446},{64,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,36}}</string>
                <key>sourceSize</key>
                <string>{64,36}</string>
            </dict>
            <key>btn_blue8s.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,440},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>btn_blue8u.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,62},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>btn_blue_0d.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,122},{80,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,34}}</string>
                <key>sourceSize</key>
                <string>{80,34}</string>
            </dict>
            <key>btn_blue_0u.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,86},{80,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,34}}</string>
                <key>sourceSize</key>
                <string>{80,34}</string>
            </dict>
            <key>btn_dot1d.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,252},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>btn_dot1n.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,158},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>btn_dot1u.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,224},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>btn_gray_0n.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,182},{80,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,34}}</string>
                <key>sourceSize</key>
                <string>{80,34}</string>
            </dict>
            <key>btn_green1d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{137,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,50}}</string>
                <key>sourceSize</key>
                <string>{137,50}</string>
            </dict>
            <key>btn_green1n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{137,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,50}}</string>
                <key>sourceSize</key>
                <string>{137,50}</string>
            </dict>
            <key>btn_green1u.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{137,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,50}}</string>
                <key>sourceSize</key>
                <string>{137,50}</string>
            </dict>
            <key>btn_green2d.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,402},{64,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,36}}</string>
                <key>sourceSize</key>
                <string>{64,36}</string>
            </dict>
            <key>btn_green2u.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,308},{64,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,36}}</string>
                <key>sourceSize</key>
                <string>{64,36}</string>
            </dict>
            <key>btn_green3u.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{144,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,44}}</string>
                <key>sourceSize</key>
                <string>{144,44}</string>
            </dict>
            <key>btn_green4u.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,100},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_green_0d.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,100},{80,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,34}}</string>
                <key>sourceSize</key>
                <string>{80,34}</string>
            </dict>
            <key>btn_green_0u.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,343},{80,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,34}}</string>
                <key>sourceSize</key>
                <string>{80,34}</string>
            </dict>
            <key>btn_green_1d.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,269},{46,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,72}}</string>
                <key>sourceSize</key>
                <string>{46,72}</string>
            </dict>
            <key>btn_green_1u.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,269},{46,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,72}}</string>
                <key>sourceSize</key>
                <string>{46,72}</string>
            </dict>
            <key>btn_leftd.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,440},{24,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,42}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>btn_leftn.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,425},{24,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,42}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>btn_leftu.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,158},{24,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,42}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>btn_partner0.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,425},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>btn_partner1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,433},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>btn_point_0d.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,224},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>btn_point_0u.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,252},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>btn_red1d.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,182},{85,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,40}}</string>
                <key>sourceSize</key>
                <string>{85,40}</string>
            </dict>
            <key>btn_red1n.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,62},{85,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,40}}</string>
                <key>sourceSize</key>
                <string>{85,40}</string>
            </dict>
            <key>btn_red1u.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,346},{85,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,40}}</string>
                <key>sourceSize</key>
                <string>{85,40}</string>
            </dict>
            <key>btn_red2d.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,214},{64,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,36}}</string>
                <key>sourceSize</key>
                <string>{64,36}</string>
            </dict>
            <key>btn_red2u.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,264},{64,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,36}}</string>
                <key>sourceSize</key>
                <string>{64,36}</string>
            </dict>
            <key>btn_red3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{137,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,50}}</string>
                <key>sourceSize</key>
                <string>{137,50}</string>
            </dict>
            <key>btn_red3u.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{137,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,50}}</string>
                <key>sourceSize</key>
                <string>{137,50}</string>
            </dict>
            <key>btn_red_0d.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,343},{80,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,34}}</string>
                <key>sourceSize</key>
                <string>{80,34}</string>
            </dict>
            <key>btn_red_0u.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,182},{80,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,34}}</string>
                <key>sourceSize</key>
                <string>{80,34}</string>
            </dict>
            <key>btn_reduce1d.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,252},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>btn_reduce1u.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,158},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>btn_rightd.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,346},{24,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,42}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>btn_rightn.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,468},{24,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,42}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>btn_rightu.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,468},{24,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,42}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>btn_tab1s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,10},{156,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,46}}</string>
                <key>sourceSize</key>
                <string>{156,46}</string>
            </dict>
            <key>btn_tab1u.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,10},{150,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{150,36}}</string>
                <key>sourceSize</key>
                <string>{156,46}</string>
            </dict>
            <key>btn_tab2s.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,346},{98,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,46}}</string>
                <key>sourceSize</key>
                <string>{98,46}</string>
            </dict>
            <key>btn_tab2u.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,346},{92,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{92,36}}</string>
                <key>sourceSize</key>
                <string>{98,46}</string>
            </dict>
            <key>btn_tabline.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{428,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,6}}</string>
                <key>sourceSize</key>
                <string>{428,6}</string>
            </dict>
            <key>btn_yellow1d.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,182},{80,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,34}}</string>
                <key>sourceSize</key>
                <string>{80,34}</string>
            </dict>
            <key>btn_yellow1u.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,264},{80,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,34}}</string>
                <key>sourceSize</key>
                <string>{80,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>button.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b21aef8eac1b3761fda62ccc34abeb7a$</string>
            <key>textureFileName</key>
            <string>button.pvr.ccz</string>
        </dict>
    </dict>
</plist>
