<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>progress_dungeonbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,24},{39,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,17}}</string>
                <key>sourceSize</key>
                <string>{39,17}</string>
            </dict>
            <key>progress_dungeonfg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{73,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,15}}</string>
                <key>sourceSize</key>
                <string>{73,15}</string>
            </dict>
            <key>progress_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{40,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,20}}</string>
                <key>sourceSize</key>
                <string>{40,20}</string>
            </dict>
            <key>progress_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,19},{73,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,15}}</string>
                <key>sourceSize</key>
                <string>{73,15}</string>
            </dict>
            <key>progress_type_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,24},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>progress_type_1bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,43},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>progress_vitbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{60,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,18}}</string>
                <key>sourceSize</key>
                <string>{60,18}</string>
            </dict>
            <key>progress_vitfg.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,57},{50,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,14}}</string>
                <key>sourceSize</key>
                <string>{50,14}</string>
            </dict>
            <key>progress_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,15}}</string>
                <key>sourceSize</key>
                <string>{73,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a75606ef7726cb21fbebba5d3aa8326a$</string>
            <key>textureFileName</key>
            <string>common.pvr.ccz</string>
        </dict>
    </dict>
</plist>
