<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,775},{160,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,80}}</string>
                <key>sourceSize</key>
                <string>{160,80}</string>
            </dict>
            <key>crystal.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>g1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,679},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>g10.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,646},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>g11.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,646},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>g12.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,775},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>g13.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,646},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>g14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,775},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>g15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,646},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>g16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,550},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>g17.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,517},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>g18.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,517},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>g19.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,517},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>g2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,517},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>g20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,421},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>g21.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,388},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>g22.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,388},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>g23.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,388},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>g24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,388},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>g25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,292},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>g26.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,259},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>g27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>g28.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,259},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>g3.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,259},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>g4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,259},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>g5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,163},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>g6.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,130},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>g7.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,130},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>g8.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,130},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>g9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,130},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>iron.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>red_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,775},{160,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,80}}</string>
                <key>sourceSize</key>
                <string>{160,80}</string>
            </dict>
            <key>uranium.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,1},{254,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
            <key>yw_bg_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,775},{160,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,80}}</string>
                <key>sourceSize</key>
                <string>{160,80}</string>
            </dict>
            <key>yw_bg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,82},{160,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,80}}</string>
                <key>sourceSize</key>
                <string>{160,80}</string>
            </dict>
            <key>yw_bg_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,1},{160,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,80}}</string>
                <key>sourceSize</key>
                <string>{160,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wildernessMap.pvr.ccz</string>
            <key>size</key>
            <string>{1276,904}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8573cfc2bc3b7a15508a1b768f7a34b0$</string>
            <key>textureFileName</key>
            <string>wildernessMap.pvr.ccz</string>
        </dict>
    </dict>
</plist>
