<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yw_12j.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,786},{164,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,50}}</string>
                <key>sourceSize</key>
                <string>{164,50}</string>
            </dict>
            <key>yw_34j.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,786},{164,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,50}}</string>
                <key>sourceSize</key>
                <string>{164,50}</string>
            </dict>
            <key>yw_5j.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,786},{164,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,50}}</string>
                <key>sourceSize</key>
                <string>{164,50}</string>
            </dict>
            <key>yw_xdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1558,784}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1558,784}}</string>
                <key>sourceSize</key>
                <string>{1558,784}</string>
            </dict>
            <key>yw_xdt001.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,786},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{28,42}</string>
            </dict>
            <key>yw_xdt002.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,786},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{28,42}</string>
            </dict>
            <key>yw_xdt003.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,786},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{28,42}</string>
            </dict>
            <key>yw_xdt004.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,786},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{28,42}</string>
            </dict>
            <key>yw_xdt005.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,786},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{28,42}</string>
            </dict>
            <key>yw_xdt006.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,786},{76,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,47}}</string>
                <key>sourceSize</key>
                <string>{76,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wilMinMap.pvr.ccz</string>
            <key>size</key>
            <string>{1560,837}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b04ba9fd3585e460e91c56ecf2ef6d48$</string>
            <key>textureFileName</key>
            <string>wilMinMap.pvr.ccz</string>
        </dict>
    </dict>
</plist>
