<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map1.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,409},{630,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,348}}</string>
                <key>sourceSize</key>
                <string>{630,348}</string>
            </dict>
            <key>stage-76.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,233},{108,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,107}}</string>
                <key>sourceSize</key>
                <string>{108,107}</string>
            </dict>
            <key>stage-79.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,213},{107,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,78}}</string>
                <key>sourceSize</key>
                <string>{107,78}</string>
            </dict>
            <key>stage-82.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,123},{107,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,108}}</string>
                <key>sourceSize</key>
                <string>{107,108}</string>
            </dict>
            <key>stage-85.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,2},{107,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,119}}</string>
                <key>sourceSize</key>
                <string>{107,119}</string>
            </dict>
            <key>stage-88.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,108},{107,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,103}}</string>
                <key>sourceSize</key>
                <string>{107,103}</string>
            </dict>
            <key>stage-91.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{107,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,96}}</string>
                <key>sourceSize</key>
                <string>{107,96}</string>
            </dict>
            <key>stage-94.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{106,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,104}}</string>
                <key>sourceSize</key>
                <string>{106,104}</string>
            </dict>
            <key>stage-map-elite-frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{761,405}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{761,405}}</string>
                <key>sourceSize</key>
                <string>{761,405}</string>
            </dict>
            <key>stageselect_map_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{720,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,380}}</string>
                <key>sourceSize</key>
                <string>{720,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dungeon.pvr.ccz</string>
            <key>size</key>
            <string>{1356,791}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e603854b87667e8b3887d33736f64591$</string>
            <key>textureFileName</key>
            <string>dungeon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
